[Application]
name=Aliens
version=1.0
# The aliens example is shipped with pygame, so there are no other files here.
entry_point=pygame.examples.aliens:main

[Python]
version=3.5.2
bitness=32
format=bundled

[Include]
pypi_wheels= pygame==1.9.2
