[Application]
name=Pywebview example
version=1.0
entry_point=simple_browser:main
# Yuck, pywin32 stores modules in odd places, so we need this to get them loaded
# correctly
extra_preamble=pywin32_paths.py

[Python]
version=3.5.1
bitness=64
format=bundled

[Include]
# pywin32 should also be included here, but it contains many pieces in odd
# locations, so it's probably not simple. When building from Linux, the
# download.sh script copies the necessary files in.
packages=comtypes
  webview
