[Application]
name=hello-pygi
version=1.0
entry_point=pygi_test:main
extra_preamble=gnome_preamble.py

[Python]
version=3.6.3
bitness=64

[Include]
pypi_wheels = numpy==1.13.3
    matplotlib==2.1.0
    six==1.11.0
    python-dateutil==2.6.1
    pyparsing==2.2.0

packages=gi
    cairo
    #dbus  # needed?
    gnome
    pygtkcompat
